@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-black-100: #000319;
  --color-gray: #E5E5E5;
  --color-white: #FFFFFF;
  --color-cyan: #5EEAD4;
  --color-violet: #A78BFA;
  --color-bg-dark: #000000;
  --color-bg-section: #1A1A1A;
}

@theme inline {
    --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  }
  
@keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -40%) scale(1);
    }
  }